version: '3.7'

services:
  github-action-self-hosted:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: github-action-self-hosted
    environment:
      - ORGANIZATION=ZenithTecnologia
      - ACCESS_TOKEN=ghp_<user_token_here>
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock 
    restart: unless-stopped
    logging:
      driver: journald
